@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

:root {
  --border-color: #eaeaeb;
  --primary-color: #ffb79b;
  --shadow-color: rgb(0, 0, 0, 0.1);
  --text-color: #4c4c4c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.navigation {
  box-shadow: 0px 1px 5px var(--shadow-color);
  border-bottom: 4px solid var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.burger-menu {
  cursor: pointer;
  display: none;
}

.burger-menu .line {
  background-color: var(--text-color);
  border-radius: 15px;
  height: 3px;
  margin: 0.3rem;
  width: 25px;
}

.menu {
  display: flex;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 0 1.5rem;
}

.menu__item.active {
  color: var(--primary-color);
}

.menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:hover {
  color: var(--primary-color);
}

.social-media .menu__item {
  margin: 0 0.7rem;
}

.icon {
  height: 15px;
  cursor: pointer;
}

.success {
  color: #007400;
  border: 1px solid #01af01;
  border-radius: 15px;
  padding: 0.8rem;
  background-color: #b0ffb0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: inherit;
  cursor: pointer;
  margin: 1.7rem 0 0 0;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.btn:hover {
  color: var(--primary-color);
}

.container {
  display: flex;
  margin: 6rem;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 100%;
}

.loading {
  align-items: center;
  display: flex;
  height: 30vh;
}

.loading .spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgb(0, 0, 0, 0.25);
  border-top: 4px solid #000;
  border-radius: 50%;
  -webkit-animation: sp 0.7s infinite;
  animation: sp 0.7s infinite;
}

@-webkit-keyframes sp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes sp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Home.html styles */

.header {
  align-items: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(30, 30, 30, 0.5), rgb(30, 30, 30, 0.5)),
    url("../imgs/hero-pic.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 60vh;
  justify-content: center;
  margin-bottom: 2rem;
}

.header__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.5rem;
}

.carousel-wrapper {
  margin: 3rem auto;
  position: relative;
  max-width: 1011px;
  width: 95%;
}

.carousel-wrapper button {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 5px var(--shadow-color);
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

.carousel__btn--next {
  right: -20px;
}

.carousel__btn--prev {
  left: -20px;
}

.carousel {
  overflow: hidden;
}

.carousel__title {
  display: inline-block;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

.carousel__items {
  display: flex;
  transition: transform 0.5s;
}

.card {
  box-shadow: 0 1px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
  width: 290px;
}

.carousel__item.card {
  max-height: 370px;
  margin: 0.4rem;
  width: 23.7%;
}

.card__image {
  width: 100%;
  height: 135px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__body {
  height: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.card__title {
  border-bottom: 3px solid var(--primary-color);
  font-weight: 600;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.card__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.card__btn {
  border: 1px solid var(--border-color);
  color: inherit;
  margin: 1.7rem 0 0 0;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.card__btn:hover {
  color: var(--primary-color);
}

.home-container {
  display: flex;
  justify-content: center;
}

.sidebar {
  margin: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  background-color: #fff;
  margin: 0.5rem 0;
}

.input-search {
  border: none;
  outline: none;
}

.side-social,
.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem 0;
}

.sidebar__title,
.side-social__title,
.cat__title,
.dest__title {
  align-self: flex-start;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-top: 0;
}

.side-social .icon {
  background-color: #fff;
  border: 1px solid var(--border-color);
  width: 35px;
  height: 35px;
  padding: 0.5rem;
}

.cat {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.3rem 0;
}

.cat:hover {
  color: var(--primary-color);
}

.dest {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.dest__list {
  display: flex;
  width: 100%;
}

.dest__list .card {
  width: 20%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.dest__name {
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  bottom: 10px;
  left: 15px;
  color: #fff;
}

.dest__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dest__item {
  border-radius: 15px;
  overflow: hidden;
  width: 25%;
  position: relative;
  margin: 0.5rem;
}

.dest__overlay {
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0, 0) 50%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.gallery__title {
  align-self: center;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-top: 0;
}

.gallery__body {
  display: flex;
  justify-content: center;
}

.gallery__col {
  width: 31.5%;
}

.gallery__img {
  width: 100%;
  padding: 2px 4px;
  height: auto;
  cursor: pointer;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.gallery:hover .gallery__img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.gallery .gallery__img:hover {
  -webkit-filter: none;
  filter: none;
}

.footer {
  border-top: 4px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 100%;
  background-color: #fff;
  margin: 0;
  margin-top: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.footer__content {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: flex-start;
}

.newsletter {
  width: 30%;
}

.newsletter,
.footer__about-me {
  display: flex;
  flex-direction: column;
}

.newsletter__title,
.footer .about-me__title {
  align-self: flex-start;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--primary-color);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
}

.newsletter__form input {
  padding: 0.6rem;
  margin: 0.2rem 0;
  border: 1px solid var(--border-color);
}

.newsletter .btn,
.footer__about-me .btn {
  margin-top: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  padding: 1rem;
}

.footer__about-me {
  width: 50%;
}

/* About.html style */

.content.about {
  width: 60%;
}

.header.about-page {
  height: 30vh;
}

.about-title {
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

.about-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Blogs.html styles */

.blog-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn-old-posts {
  padding: 1rem;
  margin-top: 4rem;
}

/* Contact.html styles */

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form__control {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.form__label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__input {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  height: 40px;
  padding: 0.5rem;
  color: var(--text-color);
}

.form__input.message {
  height: 80px;
}

.form .btn {
  border-radius: 15px;
  font-weight: 600;
  padding: 1rem;
  text-transform: uppercase;
}

.form__error {
  color: red;
  display: none;
  font-size: 0.9rem;
  padding-top: 0.3rem;
}

/* BlogSingle.html styles */
.blog-post {
  width: 70%;
  background-color: #fff;
}

.post__body {
  padding: 2rem;
}

.post__title,
.post__subtitle {
  padding: 0 2rem;
}

.post__img {
  cursor: pointer;
  width: 100%;
}

.post__subtitle {
  display: flex;
  font-weight: 600;
}

.post__author {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.modal {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.modal img {
  width: 50%;
}

@media only screen and (max-width: 1025px) {
  .sidebar {
    display: none;
  }

  .blog-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .header__title {
    font-size: 2rem;
  }

  .carousel-wrapper {
    width: 90%;
  }

  .main-menu {
    display: flex;
  }

  .container {
    margin: 0;
    margin-bottom: 2rem;
  }

  .blog-posts {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content {
    width: 80%;
  }

  .contact-us {
    width: 70%;
  }

  .carousel__item.card {
    width: 48%;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__content div {
    width: 80%;
  }

  .content.about {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    justify-content: space-between;
    position: relative;
  }

  .burger-menu {
    display: block;
  }

  .blog-posts {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 350px;
  }

  .main-menu {
    position: absolute;
    flex-direction: column;
    top: 63px;
    left: 0;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .main-menu .menu__item {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .main-menu .menu__link {
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--border-color);
    padding: 1rem;
    width: 100%;
  }

  .main-menu .menu__link:hover {
    color: var(--primary-color);
    background-color: var(--border-color);
  }

  .content {
    margin: 1rem;
  }

  .carousel__item.card {
    width: 97.2%;
  }
}
